In [2]:
## Import python packages
import sqlalchemy, pyodbc, os
import pandas as pd

In [3]:
os.chdir(r"C:\Users\selor\Downloads\SBA_files_csv")

In [4]:
os.getcwd()

'C:\\Users\\selor\\Downloads\\SBA_files_csv'

In [5]:
print(os.listdir())

['public_150k_plus_230101.csv', 'public_up_to_150k_10_230101.csv', 'public_up_to_150k_11_230101.csv', 'public_up_to_150k_12_230101.csv', 'public_up_to_150k_1_230101.csv', 'public_up_to_150k_2_230101.csv', 'public_up_to_150k_3_230101.csv', 'public_up_to_150k_4_230101.csv', 'public_up_to_150k_5_230101.csv', 'public_up_to_150k_6_230101.csv', 'public_up_to_150k_7_230101.csv', 'public_up_to_150k_8_230101.csv', 'public_up_to_150k_9_230101.csv']

In [6]:
import platform   ## What is your HostName
print(platform.node())

LAPTOP-CPQ8O3LO

In [7]:
## What is your HostName
import socket
socket.gethostname()

'LAPTOP-CPQ8O3LO'

In [8]:
 ## What is ODBC Driver Name?
pyodbc.drivers()

['SQL Server',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)',
 'Amazon Redshift (x64)',
 'ODBC Driver 17 for SQL Server',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [13]:
 ## How to establish the connection between SQL Server and Python using SQLAlchemy
conn = sqlalchemy.create_engine(f'mssql+pyodbc:// {socket.gethostname()}/SelormDB?trusted_connection=yes&driver=ODBC Driver 17 for SQL Server')
for fl in os.listdir():
    df = pd.read_csv(fl)
    df.to_sql('sbacovid',con = conn, if_exists = "append", index=False)

C:\Users\selor\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (50) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\selor\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (16,50) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [14]:
df = pd.read_sql(sql = "select * from dbo.sbacovid", con=conn)
df

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,4989478404,02/07/2021,235,PPS,ALISON KATHERINE FRIEDMAN,152 Webster Ave,Manhasset,NY,11030-1965,04/30/2022,...,Sole Proprietorship,121536,Customers Bank,PHOENIXVILLE,PA,Unanswered,Unanswered,NaN,21033.64,04/05/2022
1,4990207307,04/30/2020,248,PPP,THRESHOLD SOLUTIONS,417 E. German Street 1,Herkimer,NY,13350,05/19/2021,...,Sole Proprietorship,434162,"Citizens Bank, National Association",PROVIDENCE,RI,Unanswered,Unanswered,NaN,20989.76,04/05/2021
2,4994147800,05/29/2020,202,PPP,MICHAEL O. MARACELLO - SP,"1 Teleport Dr, Suite 206",Staten Island,NY,10314,05/07/2021,...,Sole Proprietorship,455644,Live Oak Banking Company,WILMINGTON,NC,Unanswered,Unanswered,NaN,20988.05,04/29/2021
3,4994528302,01/23/2021,202,PPS,OPEN DOOR FAMILY LIFE CENTER INC.,999 Greene Ave,Brooklyn,NY,11221-2910,01/21/2022,...,Non-Profit Organization,531105,Liberty SBF Holdings LLC,Philadelphia,PA,Unanswered,Unanswered,Y,20947.59,10/20/2021
4,4996487006,04/04/2020,202,PPP,THE SAGE LARGESSE ENDEAVOR,45 NORTH AVE,PLEASANT VALLEY,NY,12569-7943,05/12/2021,...,Sole Proprietorship,101526,Hudson Valley CU,POUGHKEEPSIE,NY,Unanswered,Unanswered,NaN,20990.90,04/02/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899995,1834187101,04/10/2020,1086,PPP,MUSA MARTIAL ARTS LLC,21530 SW Roellich Ave,SHERWOOD,OR,97140-8172,09/25/2021,...,Limited Liability Company(LLC),56102,KeyBank National Association,CLEVELAND,OH,Unanswered,Unanswered,NaN,11046.03,08/20/2021
899996,2150407306,04/29/2020,1087,PPP,BELLA JAVA & BISTRO,314 N Broadway,BURNS,OR,97720-1748,08/24/2021,...,Corporation,59698,Umpqua Bank,ROSEBURG,OR,Female Owned,Non-Veteran,NaN,11032.59,07/23/2021
899997,2366428307,01/20/2021,1086,PPS,YAKE REAL ESTATE LLC,30100 SW Easystreet Ln,Hillsboro,OR,97123-9200,04/13/2022,...,Partnership,531105,Liberty SBF Holdings LLC,Philadelphia,PA,Unanswered,Unanswered,NaN,11010.19,02/02/2022
899998,2433177309,04/29/2020,1086,PPP,"TTWUTL13, LLC",111 W HISTORIC COLUMBIA RIVER HWY,TROUTDALE,OR,97060-2032,03/18/2022,...,Limited Liability Company(LLC),59698,Umpqua Bank,ROSEBURG,OR,Unanswered,Unanswered,NaN,11092.32,02/10/2022
899999,2490607205,04/16/2020,1086,PPP,"MARK E. OLMSTED, PC",1000 SW BROADWAY,PORTLAND,OR,97205-3035,01/20/2022,...,Corporation,59698,Umpqua Bank,ROSEBURG,OR,Unanswered,Unanswered,NaN,11079.18,12/14/2021

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900000 entries, 0 to 899999
Data columns (total 53 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   LoanNumber                   900000 non-null  int64
 1   DateApproved                 900000 non-null  object
 2   SBAOfficeCode                900000 non-null  int64
 3   ProcessingMethod             900000 non-null  object
 4   BorrowerName                 899995 non-null  object
 5   BorrowerAddress              899995 non-null  object
 6   BorrowerCity                 899996 non-null  object
 7   BorrowerState                900000 non-null  object
 8   BorrowerZip                  899997 non-null  object
 9   LoanStatusDate               820019 non-null  object
 10  LoanStatus                   900000 non-null  object
 11  Term                         900000 non-null  int64
 12  SBAGuarantyPercentage        900000 non-null  int64
 13  InitialApprovalAmount        900000 non-null  float64
 14  CurrentApprovalAmount        900000 non-null  float64
 15  UndisbursedAmount            899918 non-null  float64
 16  FranchiseName                7180 non-null    object
 17  ServicingLenderLocationID    900000 non-null  int64
 18  ServicingLenderName          900000 non-null  object
 19  ServicingLenderAddress       900000 non-null  object
 20  ServicingLenderCity          900000 non-null  object
 21  ServicingLenderState         900000 non-null  object
 22  ServicingLenderZip           900000 non-null  object
 23  RuralUrbanIndicator          900000 non-null  object
 24  HubzoneIndicator             900000 non-null  object
 25  LMIIndicator                 900000 non-null  object
 26  BusinessAgeDescription       900000 non-null  object
 27  ProjectCity                  899995 non-null  object
 28  ProjectCountyName            899967 non-null  object
 29  ProjectState                 899999 non-null  object
 30  ProjectZip                   899996 non-null  object
 31  CD                           899964 non-null  object
 32  JobsReported                 899999 non-null  float64
 33  NAICSCode                    887230 non-null  float64
 34  Race                         900000 non-null  object
 35  Ethnicity                    900000 non-null  object
 36  UTILITIES_PROCEED            285922 non-null  float64
 37  PAYROLL_PROCEED              898739 non-null  float64
 38  MORTGAGE_INTEREST_PROCEED    22226 non-null   float64
 39  RENT_PROCEED                 43697 non-null   float64
 40  REFINANCE_EIDL_PROCEED       12040 non-null   float64
 41  HEALTH_CARE_PROCEED          18233 non-null   float64
 42  DEBT_INTEREST_PROCEED        13497 non-null   float64
 43  BusinessType                 899738 non-null  object
 44  OriginatingLenderLocationID  900000 non-null  int64
 45  OriginatingLender            900000 non-null  object
 46  OriginatingLenderCity        900000 non-null  object
 47  OriginatingLenderState       900000 non-null  object
 48  Gender                       900000 non-null  object
 49  Veteran                      900000 non-null  object
 50  NonProfit                    17992 non-null   object
 51  ForgivenessAmount            819015 non-null  float64
 52  ForgivenessDate              819015 non-null  object
dtypes: float64(13), int64(6), object(34)
memory usage: 363.9+ MB